body{
	background-image:url("https://images.pexels.com/photos/8314512/pexels-photo-8314512.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:rgb(31, 29, 29);
	height: 100vh;
	width: 100%;
	
}

button{
	border-radius: 4px;
	font-size: larger;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}
  
#label{
	font-size: 28pt;
	text-shadow: 2px 1px #000000;
	color: blanchedalmond;
	
}
#label_small{
	font-size: 15pt;
	color: blanchedalmond;
}
p{
	color:cornsilk;
}

.p_container{
	color: rgb(48, 28, 3);
	background-color: rgb(254, 255, 255);
	padding: 10px;
	border:5px solid ;
	border-color: rgb(59, 78, 13);
	height: auto;
  	width: 61%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
  	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
  	background-color: #111;
}

table, tr, td{
	background-color: rgb(114, 244, 218);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding: 25px;
    border: 2px solid black;
    border-collapse: collapse;
	overflow-x: auto;
}

.favicon{
	position: relative;
	left: 0px;
	top: 0px;
	display:block;
}
